body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.App {
  color: coral;
  font-size: 40px;
  font-weight: 600;
}

.grid {
  width: 20px;
  height: 20px;
  background-color: grey;
}
.grid {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    20px
  ); /* Automatically fill columns with 20px width */
  grid-template-rows: repeat(
    auto-fill,
    20px
  ); /* Automatically fill rows with 20px height */
  gap: 1px; /* Adjust the gap between grid cells as needed */
}

.grid-cell {
  border: 2px solid black;

  width: 100%;
  height: 100%;
  background-color: grey;
}
